<!DOCTYPE html>
	<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
		<head>
			<meta name="description" content="Rini Veeravalli | Personal Webpage"/>
			<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
			<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1"/> 
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:rini.veeravalli.18@ucl.ac.uk"><span class="glyphicon glyphicon-envelope"></span></a></li>  
	        		<li><a href="https://github.com/Rini-Veeravalli">github.com/Rini-Veeravalli</a></li>
				</ul>
			</footer>
		</body>
	</html>
